<div id="confirmation-overlay" style="display: none;">
    <div id="confirmation-box">
        <p>Are you sure you want to delete this?</p>
        <button id="confirm-delete" class="confirmation-btn confirmation-success">Yes</button>
        <button onclick="hideConfirmation()" class="confirmation-btn confirmation-fail">No</button>
    </div>
</div>