<div class="container">
    <div class="header">
        <h2>Admin Management - Coming Soon</h2>
    </div>
    <div class="info">
        <p>This page will be implemented later. It will be responsible for managing user accounts, including:</p>
        <ul>
            <li>Blocking and unblocking users</li>
            <li>Creating new admin users</li>
        </ul>
        <p>Please check back later for these features!</p>
    </div>
</div>

